<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>React ssr</title>
  <%- cssLinks %>
</head>
<body>
  <div id="root"><%- jsx %></div>
  <script>
    window.__SSR_DATA__ = JSON.parse('<%- ssrData %>');
    window.__ROUTES__ = JSON.parse('<%- routes %>');
  </script>
  <%- scripts %>
  <% if(liveReloadScript){ %>
  <script defer>
    const source = new EventSource('http://localhost:<%- liveReloadPort %>');
    source.onmessage = (event) => {
      try {
        const data = JSON.parse(event.data);
        if (data.reload) {
          location.reload();
        }
      } catch(err) {
        console.log('Err parse data', err, event);
      }
    }
  </script>
  <% } %>
</body>

</html>